.friendsLayout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.friendsCard {
  min-height: 300px;
  width: 25%;
  border: 1px solid lightgray;
}

.friendsHeader {
  background: lightgray;
  width: 100%;
  display: flex;

}

.friendsHeader p {
  padding-left: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.fa {
  border: 1px solid lightgray;
  padding: 3px;
  color: lightgray;
  cursor: pointer;
}

.fa-star,
.fa-star-o {
  margin-right: 10px;
}

.active {
  color: blue;
}

.pagination {
  display: flex;
  justify-content: center;
}
.mrg-r-10{
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .friendsCard {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .friendsCard {
    width: 80%;
  }
}